---
import '../../styles/paquetes.css'
---

<section class="featured-packages">
    <h2>Paquetes Destacados</h2>
    <div class="packages">
      <div class="package">
        <img src="/path/to/image.jpg" alt="Paquete Aventura" />
        <h3>Paquete Aventura</h3>
        <p>Explora lo desconocido con nuestra oferta de aventura.</p>
        <a href="/packages" class="cta-button">Explora Paquetes</a>
      </div>
      <!-- Más paquetes aquí -->
    </div>
  </section>
  