---
import Header from '../component/Header.astro';
import Footer from '../component/Footer.astro';
import '../styles/global.css';
import '../styles/destinos.css';
import Whatsapp from '../component/Whatsapp.astro';
const pageTitle = "Destinos";


---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <!-- Introducción -->
    <section class="intro">
      <h1>Descubre Nuestros Destinos</h1>
      <p>Explora una selección de los destinos más impresionantes que ofrecemos. Desde playas paradisíacas hasta montañas majestuosas, cada lugar está lleno de experiencias únicas esperando por ti.</p>
    </section>

    <!-- Destinos Destacados -->
<section class="featured-destinations">
  <h2>Destinos Destacados</h2>
  <div class="destination-gallery">
    <div class="destination-card">
      <img src="/galeria-destinos/playa-del-carmen.jpg" alt="Destino 1" />
      <div class="destination-info">
        <h3>Playa del Carmen</h3>
        <p>Disfruta de las hermosas playas y la vibrante vida nocturna de Playa del Carmen.</p>
        <a href="/destination/playa-del-carmen" class="btn-more">Más Información</a>
      </div>
    </div>
    <div class="destination-card">
      <img src="/galeria-destinos/playa-del-carmen.jpg" alt="Destino 1" />
      <div class="destination-info">
        <h3>Playa del Carmen</h3>
        <p>Disfruta de las hermosas playas y la vibrante vida nocturna de Playa del Carmen.</p>
        <a href="/destination/playa-del-carmen" class="btn-more">Más Información</a>
      </div>
    </div>
    <div class="destination-card">
      <img src="/galeria-destinos/cañon.jpg" alt="Destino 2" />
      <div class="destination-info">
        <h3>Gran Cañón</h3>
        <p>Explora las impresionantes vistas del Gran Cañón y vive una aventura inolvidable.</p>
        <a href="/destination/gran-canon" class="btn-more">Más Información</a>
      </div>
    </div>
    <div class="destination-card">
      <img src="/galeria-destinos/cañon.jpg" alt="Destino 2" />
      <div class="destination-info">
        <h3>Gran Cañón</h3>
        <p>Explora las impresionantes vistas del Gran Cañón y vive una aventura inolvidable.</p>
        <a href="/destination/gran-canon" class="btn-more">Más Información</a>
      </div>
    </div>
  </div>
</section>
  <Whatsapp />
    <Footer />
  </body>
</html>
