---
// Puedes importar componentes si los tienes
import Header from '../component/Header.astro';
import Footer from '../component/Footer.astro';
import '../styles/global.css'; // Asegúrate de tener tu archivo CSS
import Galeria from '../component/galeria-destino/Galeria.astro';
import Paquetes from '../component/paquetes/Paquetes.astro';
import Whatsapp from '../component/Whatsapp.astro';
const pageTitle = "Inicio";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main>
      <section class="hero">
        <h1>Descubre el Mundo con Nosotros</h1>
        <p>Encuentra el paquete de viaje perfecto para tus próximas vacaciones.</p>
        
      </section>
      <Paquetes/>
      <Galeria/>
      <Whatsapp/>
    </main>
    <Footer />
  </body>
</html>