---
import Header from '../component/Header.astro';
import Footer from '../component/Footer.astro';
import '../styles/global.css';
import '../styles/ofertas.css';
import Whatsapp from '../component/Whatsapp.astro';
const pageTitle = "Ofertas";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    
    <!-- Introducción -->
    <section class="intro">
      <h1>Descubre Nuestras Ofertas Especiales</h1>
      <p>Explora una selección de ofertas impresionantes. Desde playas paradisíacas hasta montañas majestuosas, cada destino promete experiencias únicas.</p>
    </section>

    <!-- Ofertas Especiales -->
    <section class="special-offers">
      <h2>Ofertas Especiales</h2>
      <div class="offers-container">
        <div class="offer-card">
          <img src="/galeria-destinos/playa-del-carmen.jpg" alt="Oferta 1" />
          <div class="offer-info">
            <h3>Paquete Playa del Carmen</h3>
            <p>7 noches en un resort todo incluido en Playa del Carmen. Incluye vuelos y traslados.</p>
            <a href="/offers/playa-del-carmen" class="btn-more">Ver Oferta</a>
          </div>
        </div>
        <div class="offer-card">
          <img src="/galeria-destinos/cañon.jpg" alt="Oferta 2" />
          <div class="offer-info">
            <h3>Aventura en el Gran Cañón</h3>
            <p>3 días para explorar el Gran Cañón con guías expertos y alojamiento incluido.</p>
            <a href="/offers/gran-canon" class="btn-more">Ver Oferta</a>
          </div>
        </div>
      </div>
    </section>

    <Footer />
    <Whatsapp />
  </body>
</html>
