---
import '../../styles/galeria.css'
---
<section class="gallery">
    <h2>Galería de Destinos</h2>
    <div class="gallery-images">
      <img src="/muralla-china.jpg" alt="Destino 1" />
      <img src="/santorini, Grecia.jpg" alt="Destino 2" />
      <img src="/Islas Maldivas.jpg" alt="Destino 3" />
      
      <a href="/galeria-de-destinos" class="boton-galeria">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 2L22 12L2 22V16L15 12L2 8V2Z" fill="#fff"/>
        </svg>
        Ver Más
      </a>
      <!-- Más imágenes aquí -->
    </div>
  </section>