---
// Menu.astro
import UserAvatar from "./UserAvatar.astro";

const links = [
  { href: "/", text: "Home" },
  { href: "/destinations", text: "Destinos" },
  { href: "/packages", text: "Paquetes" },
  { href: "/offers", text: "Ofertas" },
  { href: "/about", text: "Sobre Nosotros" },
  { href: "/contact", text: "Contacto" },
];

const pathname = new URL(Astro.request.url).pathname;
---

<head>
  <link rel="stylesheet" href="/styles.css">
</head>

<div class="header-content">
  <a href="/" class="logo"><img src="/logo.webp" alt="Logo"></a>
  <nav class="nav-links">
    {links.map(link => (
      <a href={link.href} class={pathname === link.href ? "active" : ""}>{link.text}</a>
    ))}
  </nav>
  <UserAvatar />
  <div class="hamburger-menu" onclick="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>

<script>
  function toggleMenu() {
    const navLinks = document.querySelector('.nav-links');
    navLinks.classList.toggle('expanded');
  }

  document.querySelector('.hamburger-menu').addEventListener('click', toggleMenu);
</script>
<style>
    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      background-color: transparent
    }
  
    .logo img {
      max-height: 50px;
      width: auto;
      display: block;
    }
  
    .nav-links {
      display: flex;
      gap: 1rem;
    }
  
    .nav-links a {
      color: #fff;
      text-decoration: none;
      margin: 0 1rem;
    }

    .nav-links a .activo {
      color: #947cbe;
      text-decoration: none;
      margin: 0 1rem;
    }
  
    .nav-links a:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  
    .hamburger-menu {
      display: none;
      flex-direction: column;
      cursor: pointer;
    }
  
    .hamburger-menu .bar {
      width: 25px;
      height: 3px;
      background: #fff;
      margin: 3px 0;
    }
  
    @media (max-width: 600px) {
      .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 1rem;
        box-sizing: border-box;
      }
  
      .nav-links.expanded {
        display: flex;
      }
  
      .hamburger-menu {
        display: flex;
      }
    }
  </style>
  
  