---
import '../styles/whatsapp.css'
---
<section class="contact-whatsapp">
    <a href="https://wa.me/51921993576?text=Hola%20quiero%20más%20información%20sobre%20los%20paquetes" class="whatsapp-button" target="_blank">
      Envíanos un mensaje por WhatsApp
    </a>
  </section>